<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        

<mapper namespace="com.example.weMail.Mapper.deptMapper">
		<resultMap id="deptMapper" type="deptModel">
       		<result property="dept_no" column="dept_no" />
        	<result property="dept_name" column="dept_name" />
        	<result property="mgr_no" column="mgr_no" />
        	<result property="dept_location" column="dept_location" />
        </resultMap>
        
    <select id="getAllDept" resultType="com.example.weMail.Model.deptModel">
        SELECT * FROM dept_table;
	</select>
</mapper>