<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
      
<!-- 
	`mail_no`          INT              NOT NULL    AUTO_INCREMENT COMMENT 'mail_no', 
    `mail_context`     VARCHAR(1000)    NULL        COMMENT 'mail_context', 
    `mail_file`        VARCHAR(100)     NULL        COMMENT 'mail_file', 
    `mail_group_no`    INT              NULL        COMMENT 'mail_group_id', 
    `send_time`        DATETIME         NULL        COMMENT 'send_time', 
    `send_user_no`     INT              NULL        COMMENT 'send_user_no', 
    `send_del_yn`      CHAR(1)          NULL        COMMENT 'send_del_yn', 
    `receive_user_no`  INT              NULL        COMMENT 'receive_user_no', 
    `read_time`        DATETIME         NULL        COMMENT 'read_time', 
    `read_del_yn`      CHAR(1)          NULL        COMMENT 'receive_del_yn', 
    `star_yn`          CHAR(1)          NULL        COMMENT 'important_yn', 
    `like_yn`          CHAR(1)          NULL        COMMENT 'like_yn', 
    `spam_yn`          CHAR(1)          NULL        COMMENT 'spam_yn', 
    PRIMARY KEY (mail_no) 
-->

<mapper namespace="com.example.weMail.Mapper.mailMapper">
		<resultMap id="mailMapper" type="mailModel">
       		<result property="id" column="id" />
        	<result property="name" column="name" />
        </resultMap>
        
    <select id="getAllMail" resultType="com.example.weMail.Model.mailModel">
        SELECT * FROM mail_table;
	</select>
</mapper>